---
import PageLayout from "../../layouts/PageLayout.astro"
import RoomNavbar from "../../components/RoomNavbar.tsx"
import RoomChat from "../../components/RoomChat.tsx"
import VideoPlayer from "../../components/VideoPlayer.tsx"
import "../../styles/globals.css"
import NotFound from "../../components/NotFound.astro"

const { code } = Astro.params
---

<div id="room-data" data-code={code} class="hidden"></div>

<PageLayout title={`watch-together | room: ${code}`}>
    <div id="loading" class="flex items-center justify-center h-screen"></div>

    <div id="not-found" class="hidden">
        <NotFound />
    </div>

    <div id="room-content" class="hidden">
        <RoomNavbar client:load code={code} />
        <main class="flex flex-col lg:grid lg:grid-cols-8 gap-4">
            <div class="col-span-6">
                <VideoPlayer client:load />
            </div>
            <div class="col-span-2">
                <RoomChat client:load />
            </div>
        </main>
    </div>

    <script>
        import { initializeConnection } from "../../handler"

        const roomData = document.getElementById("room-data")!
        const roomCode = roomData.dataset.code!

        const loading = document.getElementById("loading")!
        const room = document.getElementById("room-content")!
        const notfound = document.getElementById("not-found")!

        document.addEventListener("DOMContentLoaded", () => {
            initializeConnection(`${import.meta.env.PUBLIC_WS_ENDPOINT}/joinroom/${roomCode}/`, {
                onConnected: () => {
                    loading.classList.add("hidden")
                    room.classList.remove("hidden")
                },
                onError: () => {
                    loading.classList.add("hidden")
                    notfound.classList.remove("hidden")
                }
            })
        })
    </script>
</PageLayout>